<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>dangdang</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.dangdang.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserServlet</display-name>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>com.dangdang.servlet.AddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/AddUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookListServlet</display-name>
    <servlet-name>BookListServlet</servlet-name>
    <servlet-class>com.dangdang.servlet.BookListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookListServlet</servlet-name>
    <url-pattern>/BookListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookDetailServlet</display-name>
    <servlet-name>BookDetailServlet</servlet-name>
    <servlet-class>com.dangdang.servlet.BookDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookDetailServlet</servlet-name>
    <url-pattern>/BookDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCartServlet</display-name>
    <servlet-name>AddCartServlet</servlet-name>
    <servlet-class>com.dangdang.servlet.AddCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCartServlet</servlet-name>
    <url-pattern>/AddCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartListServlet</display-name>
    <servlet-name>CartListServlet</servlet-name>
    <servlet-class>com.dangdang.servlet.CartListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartListServlet</servlet-name>
    <url-pattern>/CartListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartDetailsServlet</display-name>
    <servlet-name>CartDetailsServlet</servlet-name>
    <servlet-class>com.dangdang.servlet.CartDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartDetailsServlet</servlet-name>
    <url-pattern>/CartDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddOderServlet</display-name>
    <servlet-name>AddOderServlet</servlet-name>
    <servlet-class>com.dangdang.servlet.AddOderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddOderServlet</servlet-name>
    <url-pattern>/AddOderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User</display-name>
    <servlet-name>User</servlet-name>
    <servlet-class>com.dangdang.servlet.User</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User</servlet-name>
    <url-pattern>/User</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookTypeServlet</display-name>
    <servlet-name>BookTypeServlet</servlet-name>
    <servlet-class>com.dangdang.servlet.BookTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookTypeServlet</servlet-name>
    <url-pattern>/BookTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCartServlet</display-name>
    <servlet-name>DeleteCartServlet</servlet-name>
    <servlet-class>com.dangdang.servlet.DeleteCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCartServlet</servlet-name>
    <url-pattern>/DeleteCartServlet</url-pattern>
  </servlet-mapping>
</web-app>